.card{
    border: 1px solid black;
    border-radius: 1px;
    width: 10px;
    height: 15px;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 3px;
    display: grid;
    gap: 5px;
    
    
}
.con:hover > :not(:hover){
    opacity: 0.3;
}
.card:hover{
    transform: scale(1.1);
}
/* Post Section Styles */
.post-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 10px;
  justify-content: center; /* Center posts horizontally */
  align-items: start; /* Align posts to the top */
}

.post {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}